*.* !/*.gitignore
# ignore Quartus generated folders
/db/ 
/incremental_db/ 
/simulation/ 
/timing/ 
/testbench/ 
/*_sim/
/qsys/.qsys_edit/
/qsys/cy10lp_qsys/
/output/
# project files
!*.qpf 
!*.qsf
*.qws
*.rpt
# source files
!*.bdf 
!*.vhd 
!*.v 
!*.sv
# IP core files
!*.qip 
!*.sip 
!*.bsf
# SOPC builder project source files
!*.ptf 
!*.bsf
*.sopcinfo
*.swinfo
*.debuginfo
# board description
!**/class.ptf
# sdc files:
!*.sdc
# tcl files:
!*.tcl
